@charset "utf-8";
body,div,span,img,table,td,tr,ul,li{
	padding: 0px;
	margin: 0px;
}

body{
	width: 100%;
	height: 100%;
    overflow-x: hidden;
	background-color: #000;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

a:hover{
	position:relative;
	top:1px;
	left: 1px;
}

center{
	font-family: 微软雅黑;
	word-wrap: break-word;
	font-weight:700;
}

#big-one{
	width: 950px;
	margin: 0 auto;
	border: red;
}

#h-1{
	background-color: #ff0;
	width: 100%;
	font-size: 15pt;
	color: #f00;
	height: 35px;
}

#h-2{
	background-color: #ff6;
	width: 100%;
	height: 35px;
	font-size: 15pt;
	color: #800080;
}

#h-3{
	background-color: #f93;
	width: 100%;
	height: 30px;
	font-size: 17pt;
	color: #000080;
}

#h-4{
	background-color: #800;
	width: 100%;
	color: #0ff;
}


#h-5{
	background-color: #0f0;
	width: 100%;
	color: #000;
}

#h-55{
	background-color: #FF9933;
	width: 100%;
	color: #000;
}

#h-77{
	background-color: #00FF00;
	width: 100%;
	color: #f00;
}


#h-6{
	background-color: #c9f;
	width: 100%;
	color: #800;
}

#h-7{
	background-color: #663;
	width: 100%;
	color: #f00;
}


#h-8{
	background-color: #996;
	width: 100%;
	color: #ff0;
}

#h-28{
background-color: #FFFF00;
	width: 100%;
	color: #ff0;
}

#h-9{
	background-color: #963;
	width: 100%;
	color: #0ff;
}

#h-10{
	background-color: #cc0;
	width: 100%;
	color: #000080;
}

#h-11{
	background-color: #09f;
	width: 100%;
	color: #800;
}

#h-12{
	background-color: #cff;
	width: 100%;
	color: #008080;
}

#h-13{
	background-color: #cfc;
	width: 100%;
	font-size: 24pt;
	color: #800;
	height: 42px;
}

#h-14,#h-15{
	background-color: #cf6;
	width: 100%;
	font-size: 15pt;
	color: #800;
	height: 26px;
}

#h-16{
	background-color: #f00;
	width: 100%;
	font-size: 19pt;
	color: #ff0;
	height: 37px;
}

#h-17{
	background-color: #0f0;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 17pt;
}

#h-17 a{
	color: #f00;
}

#h-18{
	background-color: #0f0;
	height: 34px;
	line-height: 33px;
	width: 100%;
	font-size: 20pt;
}
#h-18 a{
	color: #f00;
}

#h-19{
	background-color: #f0f;
	height: 30px;
	line-height: 30px;
	width: 100%;
}

#h-19 a{
	font-size: 15pt;
	color: #000;
}

#h-20{
	background-color: #fff;
	width: 100%;
}



#h-21{
	background-color: #ff0;
	width: 100%;
	height: 74px;
	line-height: 74px;
}

#h-21 a{
	color: #000;
	font-size: 28pt;
	display: block;
	width: 735px;
	height: 50px;
}

.big-w{
	 color:#FF0000;
	 font-size: 29pt;
}

.middle-w{
	color:#800080;
	font-size: 23pt;
}

.small-w{
	color:#008000;
	font-size: 19pt;
}

.num-1{
	color:#FF0000;
	font-size: 29pt;
}

.num-2{
	color:#0000FF;
	font-size: 37pt;
}

.num-3{
	color:#FF0000;
	font-size: 37pt;
}

.c{
	color:#800;
	font-size: 21pt;
}

.o{
	color:#008080;
	font-size: 25pt;
}

.img2{
	 width:772px;
	 height:90px;
}

.img374{
	width:43px;
	height:26px;
	word-wrap: break-word;
	margin: 0px;
	padding: 0px
}

.img3{
	word-wrap: break-word;
	margin: 0px;
	padding: 0px
}

.word-size{
	font-size: 21pt;
}

.top_2 div{
	height:38px;
}

#h-22{
	background-color: #ff9a00;
	width: 100%;
	height: 24px;
}

#h-22 a{
	color: #333;
	font-size: 12px;
	display: block;
	width: 108px;
	height: 12px;
}

.time{
	font-size: 9pt;
	width: 106px;
}

.adv{
	color: #f00;
	font-size: 9px;
	display: block;
	width: 52px;
	height: 12px;
	word-wrap: break-word;
	font-weight:700;
}

.adv{
	line-height: 20px;
}

.time-1{
	width: 78px;
	margin: 0 auto;
}

.td{
	width: 125px;
}

#h-212{
	width: 100%;
	height: 40px;
	background-color: #ff0;
	font-size: 23pt;
	color: #f00;
}

.z-22-1{
	color: #f30;
}

#h-23{
	background-color: red;
}

#h-23 a{
	font-size: 15pt;
	color: #000;
	word-wrap: break-word;
	font-weight:700;
	display: block;
	width: 145px;
	height: 12px;
	line-height: 15px;
}

#h-23 td{
	width: 160px;
	height: 29px;
	text-align: center;
}

#h-23 img{
	width:17px;
	height: 12px;
}

#h-24{
	background-color: #fff;
}

#h-25{
	background-color: #fff;
	width: 100%;
}

.h-25-red{
	background-color: red;
	color: yellow;
	font-size: 16pt;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
}

.purpel{
	background-color: #f0f;
	text-align: center;
	height: 29px;
	line-height: 25px;
}

.purpel a{
	background-color: #f0f;
	text-align: center;
	color: #000;
	font-family: 寰蒋闆呴粦;
}

#kuang{
	border: #f90 5px solid;
}

.big-pic{
	width: 296px;
	height: 353px;
	float: left;
}

.left{
	width: 630px;
	height: 44px;
	background-color: red;
	float: left;
	border: 1px #000 solid;
}

#h-25-5{
	background-color: #000;
	width: 936px;

}

#z-20{
	padding-top: 2px;
}

#h-25-6{
	background-color: #000;
	width: 100%;
}

.b-216{
	border-top: 1px #f90 solid;
	border-bottom: 1px #f90 solid;
	background-color: #fff;
}

.b-216-2{
	border: 1px #f90 solid;
	background-color: #fff;
}

.margin-1{
	margin: 1px;
}

.h-25-6-td{
	text-align: center;
}

.h-25-6-td-1{
	color: #f0f;
	font-family: 榛戜綋;
	font-size: 21pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 20px;
}

.h-25-6-td-1{
	line-height: 25px;
}

.h-25-6-td-2{
	color: #0f9;
	font-family: 榛戜綋;
	font-size: 26pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 30px;
}

.h-25-6-td-2{
	line-height: 35px;
}

.h-25-6-td-3{
	color: #f00;
	font-family: 榛戜綋;
	font-size: 26pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 30px;
}

.h-25-6-td-3{
	line-height: 45px;
}

.h-25-6-td-4{
	color: #ff0;
	font-family: 榛戜綋;
	font-size: 21pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 25px;
}

.h-25-6-td-274{
	color: #0f0;
	font-family: 榛戜綋;
	font-size: 21pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 25px;
}

.a-374{
	color: #f00;
	font-size: 24pt;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

.a-374{
	line-height: 35px;
}

.a-378{
	color: #0f0;
	font-size: 24pt;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

.a-378{
	line-height: 35px;
}

.td-td-374{
	width: 448px;
	height: 40px;
	line-height: 30px;
	text-align: center;
}

.tb-td-241{
	display: block;
	font-size: 13pt;
	font-family: 瀹嬩綋;
	color: #fff;
	width: 187px;
	height: 26px;
	text-align: center;
	word-wrap: break-word;
	font-weight:700;
	line-height: 24px;
}

.tb-td-241{
	line-height: 25px;
}

.tb-td-399{
	display: block;
	font-size: 15pt;
	font-family: 瀹嬩綋;
	color: #9f3;
	width: 187px;
	height: 26px;
	text-align: center;
	word-wrap: break-word;
	font-weight:700;
	line-height: 24px;
}

.tb-td-399{
	line-height: 25px;
}

.h-25-6-td-4{
	line-height: 30px;
}

.h-25-6-td-274{
	line-height: 30px;
}

.h-25-6-td-5{
	color: #ff6;
	font-size: 20pt;
	word-wrap: break-word;
	font-weight:700;
	line-height: 20px;
}

.h-25-6-td-5{
	line-height: 35px;
}

.h-25-6-td-6{
	color: #0f0;
	font-size: 23pt;
	line-height: 30px;
	font-family: 榛戜綋;
}

.h-25-6-td-6{
	line-height: 31px;
}

.zhutu{
	width: 482px;
	height: 438px;
	line-height: 10px;
}

#h-26{
	background-color: red;
	height: 25px;
	line-height: 25px;
}

#h-26-337{
	background-color: yellow;
	height: 17px;
	border: 1px #000 solid;
	margin: 1px;
}

#z-23{
	color: #ff0;
	font-size: 12px;
	font-family: 瀹嬩綋;
}

#z-23-337{
	color: red;
	font-size: 12px;
	font-family: 瀹嬩綋;
}

.clear{
	clear: both;
}

.color-1{
	background-color: red;
	font-size: 19pt;
	color: #ff0;
}

.color-2{
	background-color: #0ff;
	font-size: 21pt;
	color: #f00;
	border: 1px #000 solid;
	line-height: 39px;
}

#w-930{
	height: 40px;
	margin:1px;
	border: 1px #fff  solid;
	line-height: 40px;
}

#w-930-670{
	height: 40px;
	line-height: 40px;
}

#w-930-810{
	height: 40px;
	border: 1px #c0c0c0 solid;
	line-height: 40px;
}

.shym{
	font-family: 妤蜂綋;
	font-weight: 700;
	letter-spacing: normal;
	font-size: 25pt;
}

.shym-s{
	font-family: 瀹嬩綋;
	font-size: 18px;
	font-weight: 700;
}

.shym-red{
	font-family: 瀹嬩綋;
	font-weight: 700;
	color: red;
}

.line{
	border-top: 1px #808080 solid;
}

.w-386-b{
	border: 1px #000 solid;
	margin: 3px;
	padding-bottom: 1px;
}

.color-2 a{
	color: red;
}

.jinji{
	border: 1px #000 solid;
	margin: 2px;
}

.wzw{
	border: 1px #000 solid;
	margin: 1px;
}

.table-tr-border{
	border: 1px #9cf dotted;
	padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px
}

.table-td-border{
	border: 1px #9cf solid;
	font-family: 榛戜綋;
	word-wrap: break-word;
	margin-left: 3px;
	word-wrap: break-word;
}

.a9cf{
	border: 1px #9cf dotted;
}

.color-3{
	background-color: #ff0;
	font-size: 2px;
	color: #f30;
}

.z-l{
	font-size: 17pt;
	color: #00f;
	font-family: 榛戜綋;
	word-wrap: break-word;
	margin-left: 3px;
	width: 315px;
}

.z-m{
	font-size: 19pt;
	color: #000;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

.z-m-m{
	font-size: 15pt;
	color: #000;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

.z-r{
	font-size: 19pt;
	color: #f00;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

#h-782{
	background-color: #0ff;
}

#h-782 a{
	font-size: 17pt;
	color: #000080;
	word-wrap: break-word;
	font-weight:700;
	display: block;
	width: 151px;
	height: 40px;
	line-height: 35px;
	text-align: center;
}

#h-782 span{
	display: block;
	height: 33px;
	border: 1px #000 solid;
	color: blue;
	font-size: 18pt;
	text-align: center;
	word-wrap: break-word;
	font-weight:700;
}

#h-847{
	background-color: red;
	color: yellow;
	font-size: 21pt;
}

#h-871{
	background-color: #008000;
}

#h-871 a{
	color: #fff;
	display: block;
	height: 22px;
	width: 230px;
	font-size: 12px;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
	line-height: 20px;
	text-align: center;
}

.div-z-000{
	color: #000;
	font-size: 11pt;
	word-wrap: break-word;
	font-weight:700;
	width: 230px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
}

.div-z-887{
	color: #000;
	font-size: 11pt;
	word-wrap: break-word;
	font-weight:700;
	width: 230px;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
}

.div-898{
	background-color: #0f0;
	border: 1px #000 solid;
	text-align: center;
	width: 223px;
	height: 41px;
	margin-top: 1px;
	line-height: 44px;
	color: red;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
}

#h-1095{
	background-color: #000;
	height: 42px;
	line-height: 40px;
}

#h-1095 a{
	color: #ff0;
	font-size:23pt;
}

.span-z-red{
	color: red;
}

.te{
	color: #f0f;
	font-size: 14pt;
}

#h-26-1{
	width: 100%;
	height: 30px;
	background-color: #fff;
	border-top: 2px #f90 solid;
}

#h-27{
	background-color: #000;
}

#z-24 a{
	color: #f00;
	font-size: 15pt;
}

.color-4{
	background-color: #0f0;
	font-size: 19pt;
	border: 1px #000 solid;
	color: #000;
	line-height: 39px;
}

.color-4 a{
	color: #000;
}

.color-5-846{
	background-color: #ff0;
	font-size: 19pt;
	color: red;
}

.td-white{
	font-size: 12px;
	word-wrap: break-word;
	font-weight:700;
	background-color: #008000;
}

.td-white a{
	color:#fff;
}

.bg-white{
	background-color: #fff;
}

.bg-white a{
	color: #000;
}

.hei-1{
	font-size: 17pt;
	color: #000080;
	background-color: #0ff;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
}

.margin{
	border: 1px #fff solid;
	background-color: #fff;
}

.margin-1-1{
	border: 1px #fff solid;
	background-color: #000;
}

.margin img{
	border: 1px #000 solid;
	margin-top: 2px;
}

.margin img{
	margin-top: 3px;
}

.margin-1-1 img{
	margin-top: 1px;
}

.z-658{
	height: 60px;
	background-color: #ff0;
}

#h-28{
	background-color: #cc0;
	width: 100%;
}

#z-28{
	font-size: 25px;
	color: #006;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

.table-l{
	background-color: #ff0;
	width: 134px;
	color: #f00;
}

.red-1236{
	color: #f00;
}

.blue-1246{
	color: #0ff;
	font-size: 14pt;
}

.green-1261{
	color: #0ff;
	width: 950px;
	background-color: #000;
	font-size: 18pt;
	text-align: center;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

#h-1334{
	background-color: #f0f;
	height: 26px;
}

#h-1334 a{
	color: #000;
	font-size: 13pt;
	line-height: 20px;
}

.red-1343{
	width: 206px;
	height: 35px;
	line-height: 35px;
	background-color: red;
	color: #ff0;
	text-align: center;
	word-wrap: break-word;
	font-weight:700;
}

.a-1343{
	background-color: #0c9;
	width: 744px;
	word-wrap: break-word;
	font-weight:700;
}

.table-r{
	background-color: #ff9;
	width: 797px;
}

#h-29{
	background-color: #800080;
	height: 33px;
	line-height: 33px;
}

#z-29{
	font-size: 11pt;
}

.z-29{
	color: #fff;
}

#h-30{
	background-color: #fff;
	border-bottom: 1px black solid;
}

.green{
	color: #0f0;
	background-color: #000;
	font-size: 21pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

.red{
	color: #f00;
	background-color: yellow;
	font-size: 21pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

.f00{
	background-color: #0f0;
	color: #00f;
	text-align: center;
}

.tb-td-852{
	background-color: #0f0;
	text-align: center;
	color: #002ff1;
}

.tb-td-857{
	background-color: #fc6;
	font-size: 10pt;
}

.a-857{
	color: #000;
	font-family: 瀹嬩綋;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
}

.a-857{
	line-height: 20px;
}

#h-1633{
	background-color: blue;
	height: 20px;
	color: #fff;
	font-size: 10pt;
}

.td-1638{
	width: 475px;
	height: 28px;
	font-size: 10pt;
	text-align: center;
}

.td-1638 a{
	color: #000;
}

.font-853{
	color: blue;
}

.white{
	background-color: #fff;
}

.kai{
	color: #ff0;
	font-size: 23pt;
	font-family: 妤蜂綋;
	word-wrap: break-word;
	font-weight:700;
}

.song{
	color: #ff0;
	font-size: 15pt;
	font-family: 瀹嬩綋;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
}

.song-1763{
	color: #fff;
	font-size: 14pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
}

.tb-tr-972{
	background-color: #ff0;
	width: 100%;
}

.tb-tr-972-w{
	background-color: #fff;
	width: 100%;
}

.tb-tr-972-w-1819{
	background-color: #0ff;
	width: 100%;
}

.tb-tr-972-w-1823{
	background-color: #9f9;
	width: 100%;
}

.tb-tr-td-973{
	font-family: 瀹嬩綋;
	color: #000;
	font-size: 10pt;
	text-align: center;
}

.tb-tr-td-973{
	line-height: 23px;
}

.xin{
	color: red;
	font-size: 9pt;
	font-family: 鏂扮粏鏄庝綋;
}

.bg-blue{
	background-color: blue;
	text-align: center;
}

.zi-red{
	color: red;
	font-size: 9pt;
	font-family: 鏂扮粏鏄庝綋;
	word-wrap: break-word;
	font-weight:700;
	line-height: 19px;
}

.zi-red{
	line-height: 22px;
}

.bg-yellow{
	background-color: yellow;
	text-align: center;
}

.bg-ff9{
	background-color: #ff9;
	text-align: center;
}

.un{
	text-decoration: underline;
	color: red;
	font-size: 9pt;
	font-family: 鏂扮粏鏄庝綋;
	word-wrap: break-word;
	font-weight:700;
}

.un{
	line-height: 19px;
}

#h-1904{
	color:#808080;
	height: 33px;
	line-height: 33px;
}

.color-5{
	color: #000080;
	font-size: 20pt;
	font-family: 榛戜綋;
	word-wrap: break-word;
	font-weight:700;
	line-height: 30px;
}

.color-5{
	line-height: 25px;
}

.color-6{
	color: #f00;
	font-size: 30pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

.bg-cc0{
	background-color: #cc0;
	height: 36px;
}

.bg-0ff{
	background-color: #0ff;
}

#h-31{
	background-color: #3c3;
}

#z-31{
	font-size: 16pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
}

.li{
	width: 938px;
	height: 44px;
	border: 1px dotted #9cf;
	background-color: #fff;
}

#h-1977{
	background-color: #000;
	color: #f00;
	font-family: 妤蜂綋;
	font-size: 12pt;
	border: 1px #cc0 solid;
	text-align: center;
}

#h-2013{
	background-color: #00f;
	height: 54px;
	color: #f0f;
	font-size: 27pt;
	font-family: 瀹嬩綋;
}

#h-2016{
	background-color: #0f0;
	height: 30px;
	font-size: 16pt;
	text-align: center;
}

#h-2016 div{
	word-wrap: break-word;
	font-weight:700;
}

#h-2016 span{
	float: right;
}

#h-2016 a{
	color: #f00;
	line-height: 25px;
}

.table-2019{
	background-color: #bdf;
	border: 1px #808080 solid;
}

.td-2021{
	height: 28px;
	text-indent: 1em;
	font-family: 瀹嬩綋;
	font-size: 13pt;
	word-wrap: break-word;
	font-weight: 700;
	line-height: 30px;
}

#h-2085{
	background-color: #ff0;
	height: 60px;
	color: #f00;
	font-size: 33pt;
	border: 1px #8d5500 solid;
}

#h-2088{
	background-color: #cfc;
	height: 25px;
	font-size: 13pt;
}

#h-2091{
	background-color: #fff;
	height: 25px;
	font-size: 8pt;
	line-height: 25px;
}

.td-2099{
	background-color: #f00;
	color: #ff0;
	font-size: 10pt;
	text-align: center;
	width: 950px;
	height: 27px;
}

.td-2102{
	background-color: #ff9;
	font-size: 14pt;
	text-align: center;
	height: 27px;
	word-wrap: break-word;
	font-weight: 700;
}

.th-2108{
	height: 24px;
}

.th-2108 img{
	margin-top: 5px;
}

.td-2109 a{
	color: #008080;
	font-size: 13pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	line-height: 20px;
}

.td-2110{
	font-family: 寰蒋闆呴粦;
	font-size: 13pt;
	text-align: center;
}

.td-2111{
	text-align: center;
	color: #c60;
	font-size: 15pt;
	word-wrap: break-word;
	font-weight: 700;
}

.td-2702{
	background-color: blue;
	text-align: center;
	color: #fff;
}

.td2721{
	background-color: #0ff;
	font-size: 15pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
}

.td-2728{
	font-size: 11pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	text-align: center;
}

.td-2730{
	text-align: center;
	color: blue;
	font-size: 11pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
}

.td-2735 a{
	color: #000;
	font-family: 寰蒋闆呴粦;
	line-height: 25px;
}

#h-2950{
	background-color: #ff0;
	color: #f00;
	font-size: 20pt;
	border: 1px #000 solid;
	margin: 2px;
	text-align: center;
}

#h-2953{
	background-color: #0f0;
	color: #f00;
	font-size: 13pt;
	text-align: center;
	border: 2px #fdd solid;
	margin: 2px;
}

.td-2958{
	background-color: #0ff;
	font-size: 12pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	height: 33px;
	width: 200px;
	color: #009;
}

.td-2959{
	background-color: #f3de9e;
	font-size: 13pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	color: #663324;
}

.td-2960{
	background-color: #eeedc1;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	font-size: 13pt;
	width: 95px;
}

.td-2963{
	background-color: blue;
	color: #fff;
	font-size: 10pt;
	text-align: center;
}

.td-3010{
	color: #808000;
	font-size: 15pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	text-align: center;
	width: 950px;
}

.td-3013{
	text-align: center;
	width: 63px;
	height: 25px;
}

.td-3014 a{
	color: #000;
	font-size: 11pt;
	line-height: 21px;
}

.td-3014 a锛歨over{
	line-height: 22px;
}

.h-3103{
	background-color: #0ff;
	height: 26px;
}

.h-3103 a{
	color: #f00;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight: 700;
	line-height: 20px;
}

#h-3111{
	background-color: #333;
	color: #fff;
	border: 1px #f0f solid;
	margin: 1px;
}

.w-746{
	width: 746px;
	height: 38px;
	line-height: 38px;
	background-color: #ff0;
	margin: 2px 2px 0 5px;
	text-align: center;
	float: left;
	font-size: 16pt;
	color: blue;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
	border: 1px #9cf solid;
	color: #000080;
}

.w-177{
	width: 177px;
	height: 38px;
	line-height: 38px;
	background-color: #ff0;
	margin-top: 2px;
	text-align: center;
	color: blue;
	float: left;
	font-size: 16pt;
	font-family: 寰蒋闆呴粦;
	word-wrap: break-word;
	font-weight:700;
	border: 1px #9cf solid;
	color: red;
}

.w-216{
	width: 216px;
	height: 77px;
	line-height: 77px;
	border: 1px #f0f solid;
	background-color: #fff;
	color: #800;
	font-size: 15pt;
	font-family: 瀹嬩綋;
	word-wrap: break-word;
	font-weight:700;
	float: left;
	margin-top: 2px;
}

.w-179{
	width: 179px;
	height: 77px;
	line-height: 77px;
	border: 1px #f0f solid;
	background-color: #fff;
	color: #800;
	font-size: 15pt;
	font-family: 瀹嬩綋;
	word-wrap: break-word;
	font-weight:700;
	float: left;
	margin-top: 2px;
}

.w-535{
	width: 535px;
	height: 77px;
	line-height: 77px;
	border: 1px #f0f solid;
	background-color: #fc0;
	margin: 2px;
	color: #800;
	font-size: 15pt;
	font-family: 瀹嬩綋;
	word-wrap: break-word;
	font-weight:700;
	float: left;
}

#h-3161{
	background-color: #000;
}

.li-1{
	display: block;
	float: left;
}

#h-3161 a{
	color: #ff0;
}

.td-3167{
	font-size: 10pt;
	height: 28px;
	width: 150px;
}

.td-3168{
	width: 666px;
}

.td-3168 a{
	color: #000;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
}

.td-3169{
	font-size: 10pt;

}

.td-3344{
	text-align: center;
	background-color: #ff0;
	color: #f00;
	font-size: 17pt;
	word-wrap: break-word;
	font-weight:700;
	width: 950px;
}

.td-3347{
	font-size: 17pt;
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
	text-align: center;
	width: 140px;
}

.td-3348{
	font-size: 17pt;
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
}

#h-3367{
	background-color: #ff0;
	color: #f00;
	height: 28px;
	border: 1px #000 solid;
	margin: 1px;
	font-size: 15pt;
}

.span-1331{
	display: block;
	width: 122px;
	height: 31px;
	text-align: center;
	font-family: 寰蒋闆呴粦;
	font-size: 27px;
	word-wrap: break-word;
	font-weight:700;
}

.span-1333{
	display: block;
	width: 122px;
	height: 20px;
	text-align: center;
}

.span-1333 a{
	color: #00f;
	font-family: 寰蒋闆呴粦;
	font-size: 15px;
	word-wrap: break-word;
	font-weight:700;
	line-height: 20px;
}

.span-1334{
	display: block;
	width: 122px;
	height: 24px;
	text-align: center;
	font-family: 寰蒋闆呴粦;
	font-size: 12pt;
	word-wrap: break-word;
	font-weight:700;
}

.span-1385{
	display: block;
	text-align: center;
	font-family: 寰蒋闆呴粦;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
	background-color: #ff0;
}

.td-1372{
	text-align: center;
	font-size: 12px;
}

.td-1377{
	text-align: center;
	font-size: 18px;
	color: red;
	word-wrap: break-word;
	font-weight:700;
}

.td-1378{
	text-align: center;
	font-size: 18px;
	word-wrap: break-word;
	font-weight:700;
}

.td-1339{
	font-size: 12px;
}

.td-1340{
	font-size: 17pt;
	font-family: 瀹嬩綋;
	color: #00f;
	word-wrap: break-word;
	font-weight:700;
}

.td-3451{
	background-color: #90ce82;
	font-size: 9pt;
	font-family: 瀹嬩綋;
	text-align: center;
	height: 18px;
}

.td-3494{
	height: 30px;
	font-size: 12pt;
	word-wrap: break-word;
	font-weight:700;
}

.td-3494 a{
	color: #000;
}

#h44{
	height: 44px;
	line-height: 44px;
}

.bg-fff{
	background-color: #fff;
}

.sx-12{
	color: #c30;
	font-size: 12pt;
	font-family: 寰蒋闆呴粦;
}

.tr-bg-fff{
	background-color: #fff;
}

.td-bg-red{
	background-color: red;
}

.td-bg-yellow{
	background-color: yellow;
}

.td-bg-0ff{
	background-color: #0ff;
}

.td-bg-fff{
	background-color: #fff;
	color: #00f;
	font-family: 寰蒋闆呴粦;
	font-size: 14pt;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
}

.b-color-green{
	border: 1px green solid;
}

.td-bg-cff{
	background-color: #cff;
}

.td-bg-fcf{
	background-color: #fcf;
	text-align: center;
}

.td-bg-fff0{
	background-color: #fff;
	text-align: center;
}

#div-bg-699{
	background-color: #699;
}

.z-hwzs{
	color: #fff;
	font-size: 14pt;
	font-family: 鍗庢枃涓畫;
	word-wrap: break-word;
	font-weight:700;
}

#div-bg-yellow{
	background-color: yellow;
}

.z-big-red a{
	display: block;
	height: 60px;
	color: #f00;
	font-size: 35pt;
	font-family: 寰蒋闆呴粦;
}

#w-950{
	background-color: #b42006;
	color: #fff;
	font-size: 9pt;
}

.td-3712{
	color: #f0f;
	font-size: 14pt;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
	width: 950px;
	font-family: 寰蒋闆呴粦;
}

.td-3715 div{
	width: 22px;
	height: 25px;
	line-height: 25px;
	margin-left: 30px;
	background-color: #9f3;
	color: #f00;
	text-align: center;
}

.td-3715{
	width: 85px;
	text-align: center;
}

.td-3716{
	height: 30px;
}

.td-3716 a{
	color: #008000;
	font-size: 13pt;
	font-family: 寰蒋闆呴粦;
}

#h-3796{
	font-size: 28pt;
	background-color: #f00;
	color: #ff0;
}

#h-3799{
	background-color: #f00;
	color: #000;
	font-size: 14pt;
	height: 33px;
}

#h-3811{
	background-color: #f00;
	font-size: 11pt;
	color: #0f0;
	height: 33px;
}

#h-3814{
	background-color: #f00;
}

#h-3814 a{
	color: #ff9;
	font-size: 20pt;
	word-wrap: break-word;
	font-weight:700;
	display: block;
	width: 950px;
	text-align: center;
	height: 40px;
}

#h-3838{
	background-color: #f00;
	font-size: 19pt;
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
}

.td-3843{
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
	font-size: 17pt;
	color: #000;
	width: 475px;
}

.td-3843-span{
	color: #008000;
}

.td-span-3843{
	color: #f00;
}

.td-3844{
	font-family: 鍗庢枃鏂伴瓘;
	font-size: 17pt;
	color: #008000;
	width: 475px;
}

.span-3844{
	color: #000;
}

.td-3847{
	background-color: #ff0;
	word-wrap: break-word;
	font-weight:700;
	font-size: 15pt;
	color: #000;
}

.td-3856{
	width: 70px;
	height: 22px;
	color: #000;
	text-align: center;
	background-color: #cff;
}

.td-3857{
	width: 475px;
	height: 22px;
	text-align: center;
	background-color: #cff;
}

.td-3858{
	width: 475px;
	height: 22px;
	text-align: center;
	background-color: #cff;
}

.td-3861{
	font-family: Verdana;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
	text-align: center;
}

.td-3862{
	font-family: Arial Black;
	font-size: 12pt;
	word-wrap: break-word;
	font-weight:700;
}

.td-3866{
	width: 36px;
	text-align: center;
	border-left: 1px #0f0 solid;
	word-wrap: break-word;
	font-weight:700;
}

.td-3971{
	color: blue;
	text-align: center;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
}

.td-3972 span{
	color: blue;
	text-align: center;
	font-size: 10pt;
	word-wrap: break-word;
	font-weight:700;
	font-family: 寰蒋闆呴粦;
	display: block;
	width: 217px;
	float: left;
}

.td-3977{
	width: 36px;
	text-align: center;
	border-left: 1px #0f0 solid;
	border-right: 1px #0f0 solid;
	word-wrap: break-word;
	font-weight:700;
}

.td4018{
	background-color: #fcf;
	word-wrap: break-word;
	font-weight:700;
	font-size: 10pt;
	width: 50px;
}

.td4019{
	background-color: #fcf;
	font-size: 10pt;
	width: 265px;
}

.td4026{
	background-color: #ccf;
	word-wrap: break-word;
	font-weight:700;
	font-size: 10pt;
	width: 50px;
}

.td4027{
	background-color: #ccf;
	font-size: 10pt;
	width: 265px;
}

#table400921205 p,#table400921141 p,#table400921242 p,#table400921227 p,#table400920656 p,#table400921237 p,#table400921229 p,#table400920683 p,#table400921238 p,#table400921257 p{
	margin: 0;
}

/*手机*/
@media screen and (max-width: 768px) {
    #h-1,#h-2,#h-7,#h-4,#h-55,#h-77,#h-7,#h-8,#h-9,#h-10,#h-11,#h-12{font-size: 9pt;height: 20px;}
    #h-17{font-size: 9pt;height: 18px;line-height: 15px;}
    #h-17 img, #h-19 img{width:28px;display: inline-block;vertical-align: sub;}
    #h-19{height: 40px;line-height: 15px;}
    #h-19 a{font-size: 9pt;}
    .img2{width: 100%;height: 100%;}
    #h-21{height: 34px;line-height: 30px;}
    #h-21 a{font-size: 9px;width: 100%;}
    .big-w{font-size: 20pt;}
    .middle-w,.o{font-size: 14pt;}
    .small-w,.c{font-size:10pt;}
    .num-1{font-size: 18pt;}
    .num-2,.num-3{font-size: 16pt;}
    .banner-1{width: 100%;height: 40px;}
	 #h-212{font-size:11pt;}
	 #h-23 a{font-size:8pt;width: 47px;height: 34px;line-height: 17px;}
	 #h-25-5{width: 100%;}
	 #z-20 img{width:100%;height:100%;}
	 .h-25-6-td-1,.h-25-6-td-2,.h-25-6-td-4,.h-25-6-td-274{font-size: 10pt;}
	 #h-25-6 img{vertical-align: middle;}
	.h-25-6-td-3{font-size: 9pt;}
	.tb-td-241,.tb-td-399{width: 154px;}
	.img-bg1{width: 100%;}
	.a-374{font-size: 17pt;}
	.a-378,.h-25-6-td-5{font-size: 12pt}
	.ta-td1{display: none;}
	.z-big-red a {
		display: block;
		height: 60px;
		color: #f00;
		font-size: 17pt !important;
		font-family: 寰蒋闆呴粦;
	}

	#div-bg-yellow {
		width: 100%;
	}

	#div-bg-yellow .z-big-red > table {
		width: 100% !important;
	}




	/*#table3785 tbody tr td {*/
		/*width: 100%;*/
		/*overflow: hidden;*/
	/*}*/

	#w-930 {
		height: 41px !important;
		margin: 1px;
		border: 1px #fff solid;
		line-height: 40px;
	}

	.color-4 {
		background-color: #0f0;
		font-size: 10pt !important;
		border: 1px #000 solid;
		color: #000;
		line-height: 15px !important;
	}

	#h-3799 {
		background-color: #f00;
		color: #000;
		font-size: 9pt !important;
		height: 33px;
	}

	.table_he {
		background-color: #ff9;
		display: block;
		overflow: hidden;
		width: 100%;
	}

	.table_he tbody {
		display: block;
		width: 100%;
	}

	.table_he tbody tr {
		display: block;
	}

	.td-3847 {
		background-color: #ff0;
		word-wrap: break-word;
		font-weight: 700;
		font-size: 13pt !important;
		color: #000;
	}

	/*.td-3847{*/
	/*display: inline-block;*/
	/*float: left;*/
	/*}*/
	.td-3847:nth-child(1) {
		width: 47%;
	}

	.td-3847:nth-child(2) {
		width: 52%;
	}

	#h-3811 {
		background-color: #f00;
		font-size: 9pt !important;
		color: #0f0;
		height: 33px;
	}

	#h-3814 a {
		color: #ff9;
		font-size: 18pt;
		word-wrap: break-word;
		font-weight: 700;
		display: block;
		width: 100% !important;
		text-align: center;
		height: 66px !important;
	}

	.overflow {
		overflow: hidden;
	}

	#w-930 > .color-4 > font {
		font-size: 16pt !important;
		line-height: 19px;
	}
	#w-930 > .color-4 > font.smallFontA{
		font-size: 13pt !important;
		line-height: 19px;
	}
	#h-2091 {
		background-color: #fff;
		height: 74px !important;
		font-size: 8pt;
		line-height: 25px;
	}
	#h-2088 {
		background-color: #cfc;
		height: 71px !important;
		font-size: 13pt;
	}
	#h-2085 {
		background-color: #ff0;
		height: 180px;
		color: #f00;
		font-size: 30pt;
		border: 1px #8d5500 solid;
	}
	#h-2013 {
		background-color: #00f;
		height: 54px;
		color: #f0f;
		font-size: 19pt !important;
		font-family: 瀹嬩綋;
	}
	#h-1904 {
		color: #808080;
		height: 73px;
		line-height: 33px;
	}
	#h-1904 {
		color: #808080;
		height: 73px;
		line-height: 24px !important;
	}
	/*#table400905612{*/
	/*width: 100% !important;*/
	/*overflow: hidden;*/
	/*display: block;*/
	/*height: inherit;*/
	/*}*/
	/*#table400905612 tbody{*/
	/*width: 100% !important;*/
	/*overflow: hidden;*/
	/*display: block;*/

	/*}*/
	/*#table400905612 tbody tr{*/
	/*width: 100% !important;*/
	/*overflow: hidden;*/
	/*display: block;*/

	/*}*/
	/*#table400905612 tbody tr td{*/
	/*display: block;*/
	/*float: left;*/
	/*height: 80px !important;*/
	/*}*/
	/*#table400905612 tbody tr td:nth-last-child(1){*/
	/*width: 52% !important;*/
	/*}*/
	/*#table400905612 tbody tr td:nth-child(1) span{*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*font-size: 13pt !important;*/
	/*font-weight: 700;*/
	/*word-wrap: break-word;*/
	/*outline: 0;*/
	/*}*/
	/*#table400905612 tbody tr td:nth-child(2)>b span{*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*font-size: 13pt !important;*/
	/*font-weight: 700;*/
	/*word-wrap: break-word;*/
	/*outline: 0;*/
	/*}*/

	#h-1{
		font-size: 9pt;
		height: 34px !important;
	}
	#h-29 {
		background-color: #800080;
		height: 98px !important;
		line-height: 33px;
	}
	.z-658 {
		height: 175px !important;
		background-color: #ff0;
	}
	#h-1095 {
		background-color: #000;
		height: 137px !important;
		line-height: 40px;
	}
	#h-26-1 {
		width: 100%;
		height: 79px !important;
		background-color: #fff;
		border-top: 2px #f90 solid;
	}
	.color-2 {
		background-color: #0ff;
		font-size: 11pt !important;
		color: #f00;
		border: 1px #000 solid;
		line-height: 17px !important;
	}





	/*A*/
	#table3785 {
		width: 100% !important;
		display: block;
		overflow: hidden;
		clear: both;
		height: inherit;
	}
	#table3785>tbody,#table3785>tbody>tr{
		width: 100%;
		overflow: hidden;
		display: block;
	}
	#table3785>tbody,#table3785>tbody>tr>td{
		display: block;
		overflow: hidden;
		display: inline-block;
	}
	#table3785>tbody,#table3785>tbody>tr>td{

	}
	#table3787{
		width: 100% !important;
		display: block;
		overflow: hidden;
		clear: both;
		height: inherit;
	}














	/*A*/
}

@media screen and (max-width: 360px) {
	#h-1{height: 30px;}
	#h-2{height: 34px;}
	#h-17{font-size: 9pt;height: 36px;line-height: 15px;}
}
