@media (max-width: 568px) {
}
.text-t,
#app .content .text-title {
  background: linear-gradient(transparent, #794868);
  font-size: 26px;
  color: yellow;
  text-shadow: 0px 0px 10px red;
}
html {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
#app {
  width: 100%;
  max-width: 700px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
#app header {
  width: 100%;
  max-width: 700px;
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 0;
}
#app header img {
  width: 100%;
}
#app header .coder {
  width: 100%;
  position: relative;
  height: 34px;
  overflow: hidden;
}
#app header .coder iframe {
  width: 100%;
}
#app header .coder .whiteBoard {
  position: absolute;
  top: 0px;
  left: 630px;
  z-index: 50;
  background: #fff;
  width: 100px;
  height: 50px;
}
#app .content {
  margin-top: 115px;
}
#app .content .advertisementImg img {
  width: 100%;
}
#app .content > .box {
  overflow: hidden;
  border-radius: 5px;
  padding: 0 5px;
  background: #713800;
  margin-top: 5px;
}
#app .content .advertisement {
  height: 35px;
  line-height: 100%;
  color: #fff;
}
#app .content .advertisement > div {
  display: inline-block;
  float: left;
  height: 35px;
}
#app .content .advertisement .advertisementLabel {
  width: 115px;
  line-height: 35px;
  height: 35px;
  text-align: right;
}
#app .content .advertisement .advertisementContent {
  width: calc(100% - 115px);
  line-height: 35px;
  height: 35px;
}
#app .content .title_text {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
#app .content .table {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}
#app .content .table .yellow {
  background: #FFFF00;
}
#app .content .table .gray {
  background: #C0C0C0;
}
#app .content .table .grayFont {
  color: #C0C0C0;
}
#app .content .table .blueFont {
  color: #00f;
}
#app .content .table .greenFont {
  color: #008000;
}
#app .content .table .redFont {
  color: #f00;
}
#app .content .table .tableTop {
  color: yellow;
  font-size: 26px;
  background: linear-gradient(transparent, #794868);
  text-shadow: 0px 0px 10px red;
}
#app .content .table .brownFont {
  color: #808000;
}
#app .content .table .tableContent {
  background: #fff;
  font-size: 25px;
  border-radius: 6px;
  overflow: hidden;
}
#app .content .table .tableContent > div {
  border: 1px solid #000;
}
#app .content .table .tableContent .jumpFont {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
#app .content .table .tableContent .tableForever {
  background: #fcf;
  font-size: 20px;
  border-bottom: none;
}
#app .content .table .tableContent .tableForever .forever {
  overflow: hidden;
  border-bottom: 1px solid #000;
}
#app .content .table .tableContent .tableForever .forever > div {
  display: inline-block;
  float: left;
}
#app .content .table .tableContent .tableForever .forever .left,
#app .content .table .tableContent .tableForever .forever .right {
  width: 140px;
}
#app .content .table .tableContent .tableForever .forever .center {
  background: #ff9;
  width: calc(100% - 140px * 2);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#app .content .table .tableContent .tableForever:last-child {
  border-bottom: 1px solid #000;
}
#app .content .table .tableContent .content_top {
  background: #fc6;
  overflow: hidden;
}
#app .content .table .tableContent .content_top > div {
  display: inline-block;
  float: left;
  border-right: 1px solid #000;
}
#app .content .table .tableContent .content_top :not(:last-child) {
  width: 112px;
}
#app .content .table .tableContent .content_top :last-child {
  width: calc(100% - 112px*5);
  border-right: none;
}
#app .content .table .tableContent .content_content {
  border-bottom: 1px solid #000;
  overflow: hidden;
  border-top: none;
}
#app .content .table .tableContent .content_content > div {
  display: inline-block;
  float: left;
  border-right: 1px solid #000;
}
#app .content .table .tableContent .content_content :not(:last-child) {
  width: 112px;
}
#app .content .table .tableContent .content_content :last-child {
  width: calc(100% - 112px*5);
  border-right: none;
}
#app .content .table .tableContentTable {
  border-radius: 0px;
  border: 1px solid #000;
  border-bottom: none;
}
#app .content .table .tableContentTable .tableContent_label {
  background: #FF9933;
  border-bottom: none;
}
#app .content .table .tableContentTable .tableFoot {
  border-bottom: none;
  border-top: none;
}
#app .content .table .tableContentTable .tableContent_table {
  background: #fff;
  font-size: 25px;
  border: 1px solid #000;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
#app .content .table .tableContentTable .tableContent_table > div {
  float: left;
  display: inline-block;
  border: 1px solid #000;
}
#app .content .table .tableContentTable .tableContent_table > div:nth-child(odd) {
  width: 252px;
  border-left: none;
}
#app .content .table .tableContentTable .tableContent_table > div:nth-child(even) {
  width: calc(100% - 252px);
  border-right: none;
}
#app .content .table .tableContentTable:last-child {
  border-top: none;
  border-bottom: 2px solid #000;
}
#app .content .video-js {
  width: 700px;
  height: 264px;
}
#app .content .t-rb {
  color: #000080;
}
#app .content .t-yellow {
  background: yellow;
}
#app .content .t-red {
  color: red;
}
#app .content .t-blue {
  color: blue;
}
#app .content section {
  background: #713800;
  margin-top: 5px;
  padding: 4px;
  border-radius: 5px ;
}
#app .content .back-white {
  background: #fff;
}
#app .content .cont-ul li {
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  border-bottom: 2px solid #713800;
}
#app .content .cont-tab {
  font-size: 18px;
}
#app .content .cont-tab tr td {
  border: 1px solid #000;
  height: 30px;
}
#app .content .cont-tab tr td:nth-child(1) {
  width: 39px;
}
#app .content .cont-tab tr td:nth-child(3) {
  width: 45px;
}
#app .content .cont-tab2 {
  font-size: 12px;
  text-align: left;
}
#app .content .cont-tab2 td {
  border: 1px solid #000;
}
#app .content .cont-tab2 tr:nth-child(odd) td:nth-child(1) {
  width: 33px;
  font-size: 16px;
  text-align: center;
}
#app .content .cont-tab3 {
  background: #f5f5f5;
}
#app .content .cont-tab3 td {
  width: 33.3%;
  border: 2px solid #fff;
  font-size: 16px;
  text-align: center;
}
#app .content .cont-tab3 td a {
  color: #000;
}
#app .content .wrapper3-title {
  color: #fff;
  border-bottom: 1px solid #000;
}
#app .content .wrapper3-cont {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  color: #fff;
  line-height: 20px;
  padding: 10px 0;
  font-size: 14px;
}
@media (min-width: 700px) {
  .whiteBoard {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */