<!DOCTYPE html>
<html lang="zh">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="applicable-device" content="mobile">
  <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="favicon.ico">
  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>&#38081;&#31639;&#30424;&#20013;&#29305;&#32593;&#49;&#49;&#52;&#57;&#55;&#124;&#29579;&#20013;&#29579;&#38081;&#31639;&#30424;&#24320;&#22870;&#32467;&#26524;&#124;&#38081;&#31639;&#30424;&#19968;&#21477;&#35299;&#29305;&#39532;&#124;&#29579;&#20013;&#29579;&#38081;&#31639;&#30424;&#22235;&#32918;&#20013;&#29305;&#124;&#20845;&#24320;&#24425;&#24320;&#22870;&#29616;&#22330;&#30452;&#25773;&#24320;&#22870;&#32467;&#26524;</title>
  </head>
<body>

<div id="app">
  <header>
    <div>
      <img src="picture/logo1.gif" alt="">
      <div class="coder">
        <iframe src="http://8974kk.com/chajian/A.html" border="0" frameborder="0" target="_blank"></iframe>
        <span class="whiteBoard"></span>
      </div>
    </div>
  </header>
  <div class="content">
    <!--for Alan-->
    <div class="advertisementImg">
      <img src="picture/000.gif" alt="">
    </div>
    <div class="box advertisement">
      <div class="advertisementLabel" v-text="advertisementLabel"></div>
      <div class="advertisementContent" >
        <marquee scrollamount="2" scrolldelay="50" direction="left" onmouseover="this.stop();" onmouseout="this.start();" style="font-weight: bold;">
          <span style="color:#00FFFF">{{advertisementContent1}}</span>{{advertisementContent2}}
        </marquee>
      </div>
    </div>
    <div class="box title_text">
      <div v-for="(v,i) in title_text" :key="i" v-text="v.name" :style="`color:${v.color}`"></div>
    </div>
    <!--掐指一算-->
    <div class="box table">
      <div class="tableTop" v-text="table1.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table1.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--平特一肖●超乎想象-->
    <div class="box table">
      <div class="tableTop" v-text="table2.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table2.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--５点来料」-->
    <div class="box table">
      <div class="tableTop" v-text="table3.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table3.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--「必中波色」-->
    <div class="box table">
      <div class="tableTop" v-text="table4.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table4.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--报码器和开奖时间---这个不做了-->
    <!--<div class="box">-->
      <!---->
    <!--</div>-->
    <!--「平特一尾」-->
    <div class="box table">
      <div class="tableTop" v-text="table5.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table5.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--最准确的资料-->
    <div class="box table">
      <div class="tableTop" v-text="table6.label"></div>
      <div class="tableContent tableContentTable" v-for="(v,i) in table6.content" :key="i">
        <div class="tableContent_label" v-text="v.label"></div>
        <div class="tableContent_table">
          <div v-for="(m,n) in v.content" :key="n" v-html="m"></div>
        </div>
        <div class="tableFoot" v-html="v.foot"></div>
      </div>
    </div>
    <!--每期推荐-->
    <div class="box table">
      <div class="tableTop" v-text="table7.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table7.content" :key="i" >
          <a class="jumpFont" href="" v-html="v"></a>
        </div>
      </div>
    </div>
    <!--永久域名-->
    <div class="box table">
      <div class="tableTop" v-text="table8.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table8.content" :key="i" class="tableForever">
          <div v-for="(m,n) in v.table" :key="n" class="forever">
            <div class="left" v-text="m[0]"></div>
            <div class="center" ><span class="redFont" v-html="m[1]"></span></div>
            <div class="right" v-text="v.right"></div>
          </div>
          <div class="foot" v-text="table8.foot"></div>
        </div>
      </div>
    </div>
    <!--「５码复式●独家提供」-->
    <div class="box table">
      <div class="tableTop" v-text="table9.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table9.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--「杀期码专区」-->
    <div class="box table">
      <div class="tableTop" v-text="table10.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table10.content" :key="i" >
          <a class="jumpFont" href="" v-html="v"></a>
        </div>
      </div>
    </div>
    <!--㊣三期内必出生肖-->
    <div class="box table">
      <div class="tableTop" v-text="table11.label"></div>
      <div class="tableContent">
        <div v-for="(v,i) in table11.content" :key="i" v-html="v"></div>
      </div>
    </div>
    <!--「绝杀专区」-->
    <div class="box table">
      <div class="tableTop" v-text="table12.label"></div>
      <div class="tableContent">
        <div class="content_top" >
          <div v-for="(v,i) in table12.content.tableTop" :key="i" v-text="v"></div>
        </div>
        <div class="content_content" v-for="(v,i) in table12.content.tableContent" :key="i">
          <div v-text="'0'+(i+17)+'期'"></div>
          <div v-for="(m,n) in v" :key="n" v-html="m"></div>
        </div>

      </div>
    </div>

    <!--6*16表格下面-->
    <!--for json-->
    <!--精华版-->
    <section class="wrapper1">
    <p class="text-title">11497铁算盘「必中特码诗」精华版</p>
      <ul class="cont-ul back-white">
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
        <li>021期特诗:<e class="t-yellow">狗</e>有特,龙蛇必中,猴猪开</li>
      </ul>
    </section>
     <!--原创玄机五点来料-->
    <section class="wrapper2">
      <p class="text-title">11497【原创玄机】【五点来料】</p>
      <table class="cont-tab back-white" cellpadding="0" cellspacing="0">
        <tbody>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        <tr><td rowspan="2">035期</td><td>铁算盘玄机≤<e class="t-red">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>特码</td></tr>
        <tr><td>铁算盘玄机≤<e class="t-blue">马虎不得牛鬼蛇。（二头好）</e>≥</td><td>??</td></tr>
        </tbody>
      </table>
    </section>
    <!--大图片-->
    <section>
      <img src="./picture/lbwb.jpg" alt="凌波微步" width="100%">
    </section>
    <!--超准10码-->
    <section>
      <p class="text-title">铁算盘「超准10码●长跟必赚！」</p>
      <ul class="cont-ul back-white">
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
        <li>023期:08 <e class="t-yellow">32</e> 15 27 39 14 26 31 18</li>
      </ul>
    </section>

      <section class="wrapper2">
              <p class="text-title">11497【原创玄机】【五点来料】</p>
              <table class="cont-tab2 back-white" cellpadding="0" cellspacing="0">
              <tbody>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              <tr><td rowspan="2">034期</td><td>一字拆一肖：<e class="t-red">？</e> 拆：<e class="t-rb">解整体，左右偏旁，上下结构，笔画，读音，来解一字玄机更多记录</e></td></tr>
              <tr><td>一句解特码：<e class="t-red">开奖日更新。。</e>     解：<e class="t-rb">本站永久免费，人气决定生存，介绍更多的朋友光临我们的网站</e></td></tr>
              </tbody>
          </table>
      </section>
      <!--综合资料-->
      <section>
          <p class="text-title">2018年001-152期全年综合资料</p>
          <table class="cont-tab3 back-white" cellpadding="0" cellspacing="0">
              <tbody>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              <tr><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td><td><a target="_blank" href="">【六开彩属性】</a></td></tr>
              </tbody>
          </table>
      </section>
      <!--属性知识-->
      <section>
          <p class="text-title">2018年属性知识</p>
          <div class="sx grey-line">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                      <gth>2018狗年（十二生肖号码对照）</gth>
                  </tr>
                  <tr>
                      <td>

                          <ul class="sx1 clearfix">

                              <li>
                                  <dl>
                                      <dt>狗<img src="https://www.309809.com/img/10gou.gif">[冲 龙]</dt>
                                      <dd><span>01</span><span>13</span><span class="blue">25</span><span class="blue">37</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>鸡<img src="https://www.309809.com/img/11ji.gif">[冲 兔]</dt>
                                      <dd><span>02</span><span class="blue">14</span><span class="blue">26</span><span class="green">38</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>猴<img src="https://www.309809.com/img/09hou.gif">[冲 虎]</dt>
                                      <dd><span class="blue">03</span><span class="blue">15</span><span class="green">27</span><span class="green">39</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>羊<img src="https://www.309809.com/img/08yang.gif">[冲 牛]</dt>
                                      <dd><span class="blue">04</span><span class="green">16</span><span class="green">28</span><span>40</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>马<img src="https://www.309809.com/img/07ma.gif">[冲 鼠]</dt>
                                      <dd><span class="green">05</span><span class="green">17</span><span>29</span><span class="blue">41</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>蛇<img src="https://www.309809.com/img/06she.gif">[冲 猪]</dt>
                                      <dd><span class="green">06</span><span>18</span><span>30</span><span class="blue">42</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>龙<img src="https://www.309809.com/img/05long.gif">[冲 狗]</dt>
                                      <dd><span>07</span><span>19</span><span class="blue">31</span><span class="green">43</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>兔<img src="https://www.309809.com/img/04tu.gif">[冲 鸡]</dt>
                                      <dd><span>08</span><span class="blue">20</span><span class="green">32</span><span class="green">44</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>虎<img src="https://www.309809.com/img/03hu.gif">[冲 猴]</dt>
                                      <dd><span class="blue">09</span><span class="green">21</span><span class="green">33</span><span>45</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>牛<img src="https://www.309809.com/img/02niu.gif">[冲 羊]</dt>
                                      <dd><span class="blue">10</span><span class="green">22</span><span>34</span><span>46</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>鼠<img src="https://www.309809.com/img/01shu.gif">[冲 马]</dt>
                                      <dd><span class="green">11</span><span>23</span><span>35</span><span class="blue">47</span></dd>
                                  </dl>
                              </li>

                              <li>
                                  <dl>
                                      <dt>猪<img src="https://www.309809.com/img/12zhu.gif">[冲 蛇]</dt>
                                      <dd><span>12</span><span>24</span><span class="blue">36</span><span class="blue">48</span></dd>
                                  </dl>
                              </li>

                          </ul>

                      </td>
                  </tr>
                  <tr>
                  </tr></tbody></table>

              <table width="100%" class="ttt" border="0" cellspacing="0" cellpadding="0">
                  <colgroup>
                      <col width="50">
                      <col width="">
                  </colgroup>
                  <tbody><tr>
                      <th colspan="2">五行对照</th>
                  </tr>
                  <tr>
                      <td><font color="#ffcc00">金</font></td>
                      <td class="a-left"><span class="blue">04</span><span class="green">05</span><span>18</span><span>19</span><span class="blue">26</span><span class="green">27</span><span>34</span><span>35</span><span class="blue">48</span><span class="green">49</span></td>
                  </tr>
                  <tr>
                      <td><font color="#33cc33">木</font></td>
                      <td class="a-left"><span>01</span><span>08</span><span class="blue">09</span><span class="green">16</span><span class="green">17</span><span>30</span><span class="blue">31</span><span class="green">38</span><span class="green">39</span><span>46</span><span class="blue">47</span></td>
                  </tr>
                  <tr>
                      <td><font color="#3399ff">水</font></td>
                      <td class="a-left"><span class="green">06</span><span>07</span><span class="blue">14</span><span class="blue">15</span><span class="green">22</span><span>23</span><span class="blue">36</span><span class="blue">37</span><span class="green">44</span><span>45</span></td>
                  </tr>
                  <tr>
                      <td><font color="#ff6600">火</font></td>
                      <td class="a-left"><span>02</span><span class="blue">03</span><span class="blue">10</span><span class="green">11</span><span>24</span><span class="blue">25</span><span class="green">32</span><span class="green">33</span><span>40</span><span class="blue">41</span></td>
                  </tr>
                  <tr>
                      <td><font color="#cc9900">土</font></td>
                      <td class="a-left"><span>12</span><span>13</span><span class="blue">20</span><span class="green">21</span><span class="green">28</span><span>29</span><span class="blue">42</span><span class="green">43</span></td>
                  </tr>
                  </tbody></table>

              <table width="100%" class="ttt" border="0" cellspacing="0" cellpadding="0">
                  <colgroup>
                      <col width="50">
                      <col width="">
                  </colgroup>
                  <tbody><tr>
                      <th colspan="2">波色</th>
                  </tr>
                  <tr>
                      <td><font color="#ff0000">红波</font></td>
                      <td class="a-left"><span>01</span><span>02</span><span>07</span><span>08</span><span>12</span><span>13</span><span>18</span><span>19</span><span>23</span><span>24</span><span>29</span><span>30</span><span>34</span><span>35</span><span>40</span><span>45</span><span>46</span></td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">蓝波</font></td>
                      <td class="a-left"><span class="blue">03</span><span class="blue">04</span><span class="blue">09</span><span class="blue">10</span><span class="blue">14</span><span class="blue">15</span><span class="blue">20</span><span class="blue">25</span><span class="blue">26</span><span class="blue">31</span><span class="blue">32</span><span class="blue">36</span><span class="blue">37</span><span class="blue">41</span><span class="blue">42</span><span class="blue">47</span><span class="blue">48</span></td>
                  </tr>
                  <tr>
                      <td><font color="#009933">绿波</font></td>
                      <td class="a-left"><span class="green">05</span><span class="green">06</span><span class="green">11</span><span class="green">16</span><span class="green">17</span><span class="green">21</span><span class="green">22</span><span class="green">27</span><span class="green">28</span><span class="green">32</span><span class="green">33</span><span class="green">38</span><span class="green">39</span><span class="green">43</span><span class="green">44</span><span class="green">49</span></td>
                  </tr>
                  </tbody></table>

              <table width="100%" class="ttt" border="0" cellspacing="0" cellpadding="0">
                  <colgroup>
                      <col width="50">
                      <col width="">
                  </colgroup>
                  <tbody><tr>
                      <th colspan="2">合数单双</th>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">合数单</font></td>
                      <td class="a-left"><span>01</span><span class="blue">03</span><span class="green">05</span><span>07</span><span class="blue">09</span><span class="blue">10</span><span>12</span><span class="blue">14</span><span class="green">16</span><span>18</span><span class="green">21</span><span>23</span><span class="blue">25</span><span class="green">27</span><span>29</span><span>30</span><span class="green">32</span><span>34</span><span class="blue">36</span><span class="green">38</span><span class="blue">41</span><span class="green">43</span><span>45</span><span class="blue">47</span><span class="green">49</span></td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">合数双</font></td>
                      <td class="a-left"><span>02</span><span class="blue">04</span><span class="green">06</span><span>08</span><span class="green">11</span><span>13</span><span class="blue">15</span><span class="green">17</span><span>19</span><span class="blue">20</span><span class="green">22</span><span>24</span><span class="blue">26</span><span class="green">28</span><span class="blue">31</span><span class="green">33</span><span>35</span><span class="blue">37</span><span class="green">39</span><span>40</span><span class="blue">42</span><span class="green">44</span><span>46</span><span class="blue">48</span></td>
                  </tr>
                  </tbody></table>

              <table width="100%" class="ttt" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                      <th>生肖属性</th>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">家禽：</font>牛、马、羊、鸡、狗、猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">野兽：</font>鼠、虎、兔、龙、蛇、猴</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">吉美：</font>兔、龙、蛇、马、羊、鸡</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">凶丑：</font>鼠、牛、虎、猴、狗、猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">阴性：</font>鼠、龙、蛇、马、狗、猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">阳性：</font>牛、虎、兔、羊、猴、鸡</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">单笔：</font>鼠、龙、马、蛇、鸡、猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">双笔：</font>虎、猴、狗、兔、羊、牛</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">天肖：</font>兔、马、猴、猪、牛、龙</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">地肖：</font>蛇、羊、鸡、狗、鼠、虎</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">白边：</font>鼠、牛、虎、鸡、狗、猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">黑中：</font>兔、龙、蛇、马、羊、猴</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">女肖：</font>兔、蛇、羊、鸡、猪（五宫肖） </td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">男肖：</font>鼠、牛、虎、龙、马、猴、狗</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">三合：</font>鼠龙猴、牛蛇鸡、虎马狗、兔羊猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">六合：</font>鼠牛、龙鸡、虎猪、蛇猴、兔狗、马羊</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">琴：</font>兔蛇鸡　<font color="#3366ff">棋：</font>鼠牛狗　<font color="#3366ff">书：</font>虎龙马　<font color="#3366ff">画：</font>羊猴猪</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">五福肖</font>：鼠、虎、兔、蛇、猴[龙]</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">红肖：</font>马、兔、鼠、鸡</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">蓝肖：</font>蛇、虎、猪、猴</td>
                  </tr>
                  <tr>
                      <td><font color="#3366ff">绿肖：</font>羊、龙、牛、狗</td>
                  </tr>
                  </tbody></table>

          </div>
      </section>
      <!--友情链接-->
      <section class="wrapper3">
          <p class="wrapper3-title">友情链接:</p>
          <p class="wrapper3-cont">说明本论坛所提供的内容、资料、图片和资讯，只应用在合法的资料探讨，暂不适用于其它，外围和使用。特此声明 ！</p>
          <p class="wrapper3-cont">围和使用。特此声明 ！ 论坛免责声明：以上所有广告内容均为赞助商提供，本站不对其经营行为负责。浏览或使用者须自行承担有关责任，本网站恕不 负责。</p>
          <p class="wrapper3-cont">【铁算盘】域名：www.11497.com 在线，收集各类香港彩资料，免费内幕资料，走势分析，尽在铁算盘中特网 <e class="t-yellow t-red">GG联系：2259255119</e></p>
      </section>
  </div>
</div>

<script src="js/z_stat.js" language="JavaScript"></script>
<script language="javascript" src="js/click.js" charset="gb2312"></script>
<script src="js/vue.min.js" language="JavaScript"></script>
<script src="js/index.js" language="JavaScript"></script>
</body>
</html>